*{
    padding: 0px;
    margin: 0px;
}
.biggestMainContainer
{
    height: 100vh;
    width: 100%;
}
#home {
    height: 100vh;
    width: 100vw;
    /* background-color: #FF69B4; */
    /* background: url("bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: white;
    z-index: 1;
}

.nav-barr {
    height: 14%;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    z-index: 2;
    /* box-shadow: 0px 0px 30px 10px black; */
    position: fixed;
    top: 0px;
    perspective: 100vh;
    opacity: 0;
}

.nav-animation {
    width: 100vw;
    animation-name: animateNav;
    animation-duration: 5s;
    box-shadow: 0px 0px 30px 10px black;
}

@keyframes animateNav {
    10% {
        box-shadow: 0px 0px 30px 10px black;
    }

    20% {
        box-shadow: 0px 0px 30px 10px red;
    }

    30% {
        box-shadow: 0px 0px 30px 10px green;
    }

    40% {
        box-shadow: 0px 0px 30px 10px aqua;
    }

    50% {
        box-shadow: 0px 0px 30px 10px #E847AE;
    }

    60% {
        box-shadow: 0px 0px 30px 10px #FFD300;
    }

    70% {
        box-shadow: 0px 0px 30px 10px #00FECA;
    }

    80% {
        box-shadow: 0px 0px 30px 10px #F85125;
    }

    90% {
        box-shadow: 0px 0px 30px 10px #FF9472;
    }

    100% {
        box-shadow: 0px 0px 30px 10px #FF2281;
    }

}

.nav-barr ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;


}

.list-items {
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.list-links {
    /* border: 2px solid red; */
    border-radius: 10px;
    margin: 0px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
#li1
{
    top: -2%;
    left: 2%;
}
#li2
{
    bottom: 2%;
    left: 2%;
}
#li3
{
    right: 12%;
    top: 2%;
}
#li4
{
    right: 12%;
    bottom: 2%;
}

#ll0:hover {

    animation-name: hover-links0;
    color: white;
    animation-duration: 1s;
    font-weight: bold;
    animation-fill-mode: forwards;
}

#ll1:hover {

    animation-name: hover-links1;
    color: black;
    animation-duration: 1s;
    font-weight: bold;
    animation-fill-mode: forwards;
}

#ll2:hover {

    animation-name: hover-links2;
    color: black;
    animation-duration: 1s;
    font-weight: bold;
    animation-fill-mode: forwards;
}

#ll3:hover {

    animation-name: hover-links3;
    color: rgb(0, 0, 0);
    animation-duration: 1s;
    font-weight: bold;
    animation-fill-mode: forwards;
}

@keyframes hover-links0 {
    from {
        background-color: rgb(255, 255, 255);
    }

    to {
        background-color: black;
        color: white;
    }
}

@keyframes hover-links1 {
    from {
        background-color: rgb(255, 255, 255);
    }

    to {
        background-color: #FFD300;
    }
}

@keyframes hover-links2 {
    from {
        background-color: rgb(255, 255, 255);
    }

    to {
        background-color: #FF2281;
    }
}

@keyframes hover-links3 {
    from {
        background-color: rgb(255, 255, 255);
    }

    to {
        background-color: #FF9472;
    }
}

#skills {
    /* visibility: hidden; */

    height: 100vh;
    width: 100%;
    background: white;
}

#projects {
    /* visibility: hidden; */
    background-color: white;
    height: 100vh;
    width: 100%;
}


.active {
    background-color: #FF69B4;

}

.most-valuable {
    position: absolute;
}


/* =========================================================== MY -SELF ================================== */
.most-valuable
{
    width: 100vw;
    height: 100%;
}
.my-self {
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 100vh;
}

.my-self button {
    position: absolute;
    font-size: 1.5em;
    top: 15%;
    left: 0%;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

.my-self button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.447);
    border-radius: 10px;
    font-weight: bolder;
}

.my-self-btn-animate {
    animation-name: move-away;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes move-away {
    100% {
        transform: translateX(-200%);
    }
}

#myName {

    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    transform: translateY(-50px);
    color: rgb(255, 255, 255);
    /* font-size: 5em; */
    margin-bottom: 10px;
    
}

.myNameClass {
    text-shadow: -25px 15px 2px rgb(39, 39, 39);
    animation-name: myName;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes myName {
    100% {
        color: rgb(0, 0, 0);
        font-size: 2em;
        text-shadow: 0px 0px 0px rgb(0, 0, 0);
    }
}

#myDesignation {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    /* background-color: #FF69B4; */
    /* transform:translateY(30px) rotateX(-90deg); */
}

.myDesignationClass {
    font-size: 1.2em;
    animation-name: myDesig;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(30px) rotateX(-90deg);
}

@keyframes myDesig {
    100% {
        opacity: 1;
        color: rgb(0, 0, 0);
        font-variant: small-caps;
        transform: translateY(-30px) rotateX(0deg);

    }
}

.base {
    position: absolute;
    height: 30%;
    width: 100%;
    z-index: -2;
    display: flex;
    flex-direction: row;
}

#base1 {
    top: 0%;
}

#base2 {
    bottom: 0%;
}

.base-heading{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.base-items {
    height: 100%;
    width: 33.5%;
    position: relative;
    /* border-radius: 10px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #E847AE; */
}
.base-items:hover{
    cursor: pointer;
}
#bi0 {
    
    opacity: 0;
    transition: opacity 1s;
}
#bi0:hover
{
    
    opacity: 1;
}

#bi1 {
    opacity:0;
    transition:opacity 1s;
}
#bi1:hover
{
    
    opacity: 1;
}
#bi2 {
    opacity:0;
    transition:opacity 1s;
    color: rgb(0, 0, 0);
}
#bi2:hover
{
    opacity: 1;
}
#bi3 {
    opacity:0;
    transition:opacity 1s;
    color: rgb(0, 0, 0);
}
#bi3:hover
{
    
    opacity: 1;
}

#bi4 {
    opacity:0;
    transition:opacity 1s;
}
#bi4:hover
{
    opacity: 1;
}
#bi5 {
    opacity:0;
    transition:opacity 1s;
}
#bi5:hover
{
    opacity: 1;
}
#bi6 {
    opacity:0;
    transition:opacity 1s;
    color: rgb(0, 0, 0);
}
#bi6:hover
{
    opacity: 1;
    background-color: white;
}
#bi7 {
    opacity:0;
    transition:opacity 1s;
}
#bi7:hover
{
    opacity: 0;
}
#bi8 {
    opacity:0;
    transition:opacity 1s ,background-color 0.5s;
}
#bi8:hover
{
    opacity: 1;
    background-color: white;
}

/* =============================Skills=============================================== */
.Skills-base {
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
    perspective: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 128, 0, 0.089);
}

.skills-class {
    height: 30%;
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    perspective: 100vh;
}

#html {
    border-radius: 10px;
    transition: transform 1s, box-shadow 1s, text-shadow 1s;
    transform: rotateX(2deg) rotateZ(-3deg) rotateY(60deg);
    box-shadow: -20px 20px 10px 5px rgba(0, 0, 0, 0.218);
    text-shadow: -10px 7px 5px rgba(0, 0, 0, 0.421);
}

#html:hover {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.264);
    text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.421);
    transform: rotate(0deg);
}

#css {
    border-radius: 10px;
    transition: transform 1s;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.199);
}

#javaScript {
    border-radius: 10px;
    transition: transform 1s, box-shadow 1s, text-shadow 1s;
    transform: rotateX(-2deg) rotateZ(3deg) rotateY(-60deg);
    box-shadow: 20px 20px 10px 5px rgba(0, 0, 0, 0.218);
    text-shadow: 10px 7px 5px rgba(0, 0, 0, 0.421);
}

#javaScript:hover {
    transform: rotate(0deg);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.264);
    text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.421);
}

.Skills-base img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.Skills-base span {
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    color: black;
    /* background-color: #00FECA; */
    /* text-shadow: -10px 7px 5px rgba(0, 0, 0, 0.421) ; */
    font-size: 1.8em;

    position: absolute;
    top: -50px;
    font-family: 'Bangers', cursive;

}
.lineConnection
{
    position: absolute;
    width: 70%;
    height: 1px;
    background-color: #fff;
    z-index: -3;
}
/* ===============Projects=================================================================== */
.project-base
{
    height: 100vh;
    width: 100%;
    background-color:#ff69b427;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pb
{
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    transform: translateY(50px);
    height: 550px;
    width: 80%;
    /* background-color:#e847adbb; */
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.355),
    0px 0px 10px 1px rgba(0, 0, 0, 0.337),
    0px 0px 15px 1px rgba(0, 0, 0, 0.462),
    0px 0px 20px 1px rgba(0, 0, 0, 0.433);
    overflow-y: scroll;
    
}
.projectmadebyme
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#p1Para
{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#p1Img
{
    height: 50%;
    width: 50%;
    background: url("project/project1Img/img1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}
#p1 h1
{
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    text-shadow: 0px 0px 2px #FF2281, 
    0px 0px 4px #FF2281,
    0px 0px 8px #FF2281,
    0px 0px 16px #FF2281;
}
#p2Para
{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#p2 h1
{
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    text-shadow: 0px 0px 2px #00FECA, 
    0px 0px 4px #00FECA,
    0px 0px 8px #00FECA,
    0px 0px 16px #00FECA;
}
#p2Img
{
    height: 50%;
    width: 50%;
    background-color: #000000;
}
/* ===========contact-me==================================================================== */
#contact-me {
    /* visibility: hidden; */
    background-color: white;
    height: 100vh;
    width: 100%;
}
.contact-base
{
    height: 100vh;
    width: 100%;
    background-color:#ffffff31;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100vh;
}
.main-box
{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.203);
    transform: translateY(-50px);
}
.rows
{
    width: 100%;
    height: 100px;
    display: flex;
    perspective: 100vh;
}

.columns
{
    width: 100px;
    height: 100%;
    /* background-color: #f8532567; */
}
#c1
{
    background: url("facebook.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c1:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c2
{
    background: url("printrest.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c2:hover
{
    
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c3
{
    background: url("insta.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c3:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c4
{
    background: url("github.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c4:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c5
{
    background: url("youtube.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c5:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c6
{
    background: url("linkedin.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c6:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c7
{
    background: url("twitter.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c7:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c8
{
    background: url("netflix.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c8:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c9
{
    background: url("amazon\,.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c9:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c10
{
    background: url("watsapp.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c10:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c11
{
    background: url("apple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c11:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c12
{
    background: url("snapchat.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c12:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c13
{
    background: url("ibm.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c13:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c14
{
    background: url("microsoft.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c14:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c15
{
    background: url("google.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c15:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}
#c16
{
    background: url("tata.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    box-sizing: border-box;
    border: 20px solid #ffffff31;
    transition:opacity 1s,border 1s;
    border-radius: 30px;
}
#c16:hover
{
    border-radius: 30px;
    opacity: 1;
    border: 0px solid #ffffff31;
}

/* --------------------------------------------------------- */
.footer
{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #e9813278;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    
    
}


.link-attachment
{
    background: rgba(255, 255, 255, 0.43);
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
#la1
{

    /* top: 400px;
    left: 100px; */
    color: black;
}
#la2
{
    /* top: 100px;
    right: 500px; */
    color: rgb(0, 107, 170);
}
#la3
{
    /* left: 500px;
    bottom: 300px; */
    color: rgb(176, 2, 179);
}
#la4
{
    color: green;
    /* right: 150px;
    bottom: 330px; */
}

